
<table>
  <tr>
    <th>Username</th>
    <th>Password</th>
  </tr>
  {{#each model as |post|}}
    <tr>
      <td>{{post.username}}</td>
      <td>{{post.password}}</td>
    </tr>
  {{/each}}
</table>

<br>
  
<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Username</label>
  {{input id='identification' placeholder='Enter Login' value=identification}}
  <label for="password">Password</label>
  {{input id='password' placeholder='Enter Password' type='password' value=password}}
  <button type="submit">Login</button>
</form>

{{#each model.errors.username as |error|}}
  <div class="error">
    {{error.message}}
  </div>
{{/each}}

{{outlet}}
